<!DOCTYPE html>
<html lang="en">

<head>
	<title>Create Account</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/routes/createAccount.js" defer></script> 
</head>

<body>
    <h1> Political Funds & Affairs Transparency</h1>    
    <h1> Create Account</h1>    


</body>
</html>