<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Dashboard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

        <style>
            .col-2 {
                margin: 5px;
            }

            button.btn.btn--radius-2.btn--blue {
                margin-top: 15px;
            }
        </style>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="/" class="title">Home</a>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/signIn">Sign in</a></li>
						<li><a href="/createAccount" class="active">Create an Account</a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1>Welcome back {{userInfo.first_name}}  {{userInfo.last_name}}!</h1>
							<a onClick = "getTopContrib(); getTopIndustries(); getNews('{{userInfo.senator1}}');" class="button primary">Click to show data</a>
						</div>

						<div section id="one" class="inner wrapper style2 spotlights">
							<canvas id="topContrib"></canvas>
							<div id = "news"></div>
						</div>

						<div section id="two" class="inner wrapper style2 spotlights">
							<canvas id="topIndustry"></canvas>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; CS 484 Team 11. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script>
			function getTopContrib() {
				console.log("getting top contributors");

				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						let labels = [];
						let data = {
							labels: labels, 
							datasets: [{
								label: `Top Contributors to ${repName}`, 
								data: [], 
								backgroundColor: 'rgb(67, 170, 139)',
								borderColor: 'rgb(205, 137, 135)',
								borderWidth: 3
							}]
						};

						let output = JSON.parse(this.responseText).response.contributors.contributor;
						for (let i = 0; i < output.length; i++) {
							labels.push(String(output[i]['@attributes'].org_name));
							data.datasets[0].data.push(output[i]['@attributes'].total);
						}

						const config = {
							type: 'bar', 
							data: data,
							options: {
								scales: {
									y: {
										beginAtZero: true,
									},
								}
							}
						};
						const myChart = new Chart(document.getElementById('topContrib'),config);
						document.getElementById('topContrib').style.backgroundColor = "white";
					}
				};
				var apiKey;
				var cid;
				xhttp.open("GET", `https://www.opensecrets.org/api/?method=candContrib&cid=N00027860&apikey=2ee5a4893d2016c62994c610d8575063&output=json`, true);
				xhttp.send();
			}

			function getTopIndustries() {
				console.log("getting top industries");

				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						let labels = [];
						let data = {
							labels: labels, 
							datasets: [{
								label: `Top Industries Contributing to ${repName}`, 
								data: [], 
								backgroundColor: 'rgb(95, 191, 2497)',
								borderColor: 'rgb(205, 137, 135)',
								borderWidth: 3
							}]
						};

						let output = JSON.parse(this.responseText).response.industries.industry;
						for (let i = 0; i < output.length; i++) {
							labels.push(String(output[i]['@attributes'].industry_name));
							data.datasets[0].data.push(output[i]['@attributes'].total);
						}

						const config = {
							type: 'bar', 
							data: data,
							options: {
								scales: {
									y: {
										beginAtZero: true,
									},
								}
							}
						};
						const myChart = new Chart(document.getElementById('topIndustry'),config);
						document.getElementById('topIndustry').style.backgroundColor = "white";
					}
				};
				var apiKey;
				var cid;
				var cycle = "2020";
				xhttp.open("GET", `https://www.opensecrets.org/api/?method=candIndustry&cid=N00027860&cycle=${cycle}&apikey=2ee5a4893d2016c62994c610d8575063&output=json`, true);
				xhttp.send();
			}

			function getNews(sen) {
				console.log("getting news");
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					console.log(this.readyState, this.status)

					if (this.readyState == 4 && this.status == 200) {
						console.log("inside if");

						let output = JSON.parse(this.responseText);
						let num = output.totalResults;
						console.log("num is: " + num);
						
						num = num < 5 ? num : 5;
						let articles = output.articles;
						for (let i = 0; i < num; i++) {
							var curArticle = articles[i];
							console.log(curArticle.url);
							console.log(curArticle.source.name);
							console.log(curArticle.title);
							var node = document.createElement("DIV");                 // Create a <li> node
							node.innerHTML = `<a href = ${curArticle.url}><h4>${curArticle.source.name}: </h4> <h5>${curArticle.title}</h5</a> `;         // Create a text node
							//node.appendChild(textNode);
							var news = document.getElementById('news');
							news.appendChild(node);
						}
					}
				};
				var apiKey;
				var sen = sen;
				xhttp.open("GET", `https://newsapi.org/v2/everything?q=${sen}&from=2021-11-01&sortBy=publishedAt&apiKey=980334a7a2044973bb2497e9fa20c201`, true);
				xhttp.send();
			}
		</script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>