<!DOCTYPE html>
<html lang="en">

<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/routes/index.js" defer></script> 
</head>

<body>
    <h1> Political Funds & Affairs Transparency</h1>    
    <a class="txt2" href="/createAccount"> Sign Up </a>
    <br>
    <a class="txt2" href="/signIn"> Login </a>

</body>
</html>