<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Political Funds and Affairs Transparency</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">Get Started</a></li>
							<li><a href="#two">Purpose</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Political Funds and Affairs Transparency</h1>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Get started</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Have an account?</h2>
									<ul class="actions">
										<li><a href="/signIn" class="button">Sign In</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Get more with an account!</h2>
									<ul class="actions">
										<li><a href="/createAccount" class="button">Create an account</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Purpose</h2>
									<p>Learn more about the money flowing through the halls of Congress that may be
										influencing how your legislators vote, how they prioritize their work, and what
										connections they have.</p>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>What we do</h2>
							<p>By creating an account, you'll get access to the top industries and individual contributors that fund your state senators and congressional legislator.</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>We hope this informational tool inspires you to...</h3>
									<p></p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Uncover some of the lobbying industries and firms that try to influence your legislators' vote.</h3>
									<p></p>
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Become more informed of the assignments and legisation your representatives are working on.</h3>
									<p></p>
								</section>
								<section>
									<span class="icon solid major fa-link"></span>
									<h3>Stay informed on what outside sources may be influencing how a bill passes or fails.</h3>
									<p></p>
								</section>
								<section>
									<span class="icon major fa-gem"></span>
									<h3>Develop an active interest in how and what kinds of legislation is introduced and ultimately worked into law.</h3>
									<p></p>
								</section>
							</div>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>About Us</h2>
							<p>This project was made for UIC CS 484 during Fall 2021 by Gurleen K. and Sanchita K.</p>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; CS 484 Team 11. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>