<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Sign In</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

        <style>
            span.login100-form-title.p-b-26 {
                color: white;
                font-size: xx-large;
            }

            input.input100 {
                color: black;
                width: 50%;
                padding: 5px;
                margin: 5px;
                background-color: white;
            }

            button.login100-form-btn {
                margin-top: 10px;
            }

            .text-center.p-t-115 {
                margin-top: 10px;
            }
        </style>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="/signIn" class="title">Sign In</a>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/signIn" class="active">Sign in</a></li>
						<li><a href="/createAccount">Create an Account</a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Sign in to your account</h1>
                            <form method="POST" action="/loginSubmit" class="login100-form validate-form">
                                <span class="login100-form-title p-b-26">
                                    Welcome
                                </span>
                                <span class="login100-form-title p-b-48">
                                    <i class="zmdi zmdi-font"></i>
                                </span>

                                <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                                    <h3> Enter your email: </h3>
                                    <input class="input100" type="text" name="email" placeholder="email">
                                    <span class="focus-input100" data-placeholder="Email"></span>
                                </div>

                                <div class="wrap-input100 validate-input" data-validate="Enter password">
                                    <span class="btn-show-pass">
                                        <i class="zmdi zmdi-eye"></i>
                                    </span>
                                     <h3> Enter your password: </h3>
                                    <input class="input100" type="password" name="password" placeholder="password">
                                    <span class="focus-input100" data-placeholder="Password"></span>
                                </div>

                                <div class="container-login100-form-btn">
                                    <div class="wrap-login100-form-btn">
                                        <div class="login100-form-bgbtn"></div>
                                        <button class="login100-form-btn">
                                            Login
                                        </button>
                                    </div>
                                </div>

                                <div class="text-center p-t-115">
                                    <span class="txt1">
                                        Don’t have an account?
                                    </span>

                                    <a class="txt2" href="/createAccount">
                                        Sign Up
                                    </a>
                                </div>
                            </form>

                        </div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; CS 484 Team 11. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
            <script src="javascripts/main.js"></script>

	</body>
</html>