<!DOCTYPE html>
<html lang="en">

<head>
	<title>Sign In</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/routes/signIn.js" defer></script> 
</head>

<body>
    <h1> Political Funds & Affairs Transparency</h1>    
    <h1> Sign In</h1>    
</body>
</html>